---
export const prerender = true;
import Blog from "../../layouts/blog.astro";
let posts:any = await Astro.glob("./*/*.mdx");
posts = posts.filter((post:any) => {
    return !post.frontmatter.draft;
});
posts = posts.sort((a:any, b:any) => {
    return new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime();
});
posts = posts.filter((post:any) => post.frontmatter.draft !== true);
---

<Blog title="Ishan Writes | Archive">
    <h1 class="font-bold p-4 text-4xl">
        Archive ({posts.length})
    </h1>
    <div class="">
        {
            posts.map((post:any) => {
                return (
                    <div class="flex flex-col md:flex-row p-4 border-gray-400 border-b-2">
                        <div>
                            {
                                post.frontmatter.image && (
                            <img class="rounded-md" width={256} src={post.frontmatter.image} alt="Blog Image">

                                )
                            }
                        </div>
                        <div class="p-4">
                            <a href={post.url} class="text-2xl font-bold">
                                {post.frontmatter.title}
                            </a>
                            <p class="text-gray-500">
                                {post.frontmatter.description}
                            </p>
                            <p class="text-gray-500">
                                {new Date(post.frontmatter.date).toDateString()}
                            </p>    
                        </div>
                    </div>
                )
            })
        }
    </div>
</Blog>