---
import BlogNav from '../components/blog_nav';
import Base from './base.astro';
const { frontmatter: frontmatter }= Astro.props;
import { themes } from '../pages/blog/themes';
//@ts-ignore
const theme = themes[frontmatter.theme] || themes['default'];
const posts = await Astro.glob('../pages/blog/*/*.mdx');
const recommended = posts.filter((post:any) => post.frontmatter.category === frontmatter.category && post.frontmatter.title !== frontmatter.title);
---

<Base title={frontmatter.title + " | Ishan Writes"}>
    <BlogNav client:load />
    <style define:vars={{color: theme.color, bg: theme.background}}>
        #main{
            color: var(--color);
            background-color: var(--bg);
        }
    </style>
    <main>
        <div id="main" class="p-5">
            <h1 class="text-center p-5 font-bold text-6xl">{frontmatter.title}</h1>
            {
                frontmatter.author && (
                <h2 class="text-lg font-light text-center p-2">Written by {frontmatter.author} on {
                new Date(frontmatter.date).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                })
                }</h2>
                )
            }
            <h2 class="text-lg font-light text-center p-2">
                {frontmatter.wordsRead} words | Avg {frontmatter.minutesRead}
            </h2>
            <div class="flex flex-col justify-center items-center pb-2">    
                <div class="w-5/6 p-5">
                    {
                        frontmatter.image && (
                            <img class="rounded-md" src={frontmatter.image} alt="Blog Header">
                        )
                    }
                </div>
            </div>
        </div>
        <div class="flex flex-col justify-center items-center p-5">
            <div class="w-full px-4 pb-2 md:p-0 md:w-4/5">
                <slot />
            </div>
        </div>
                    {
                frontmatter.tags && (
                    <div class="flex flex-wrap justify-center items-center p-2">
                        {
                            frontmatter.tags.map((tag:any) => (
                                <a href={"/blog/tags/" + tag} class="p-2 m-2 bg-gray-200 rounded-md">{tag}</a>
                            ))
                        }
                    </div>
                )
            }
        <div>
            {
                recommended.length > 0 && (
                    <div>
                        <h1 class="text-2xl text-center font-bold pt-2">
                        You might also like
                        </h1>
                        <div class="flex border-gray-500 flex-col md:mx-10 p-2 md:px-10 cursor-pointer justify-center items-center">
                            {
                                recommended.map((post:any) => (
                                    <div  
                                    onclick={
                                        "location.href = '" + post.url + "'"
                                    }
                                    class="flex flex-row justify-center items-center px-5 py-2">
                                        <div class="w-2/6">
                                            <img class="rounded-md" src={post.frontmatter.image} alt="Blog Header">
                                        </div>
                                        <div class="pl-10 w-4/6">
                                            <h2 class="text-2xl font-bold p-2">{post.frontmatter.title}</h2>
                                            <p class="text-lg font-light p-2">
                                                {post.frontmatter.description}
                                            </p>
                                            <p class="text-lg font-light p-2">
                                                {new Date(post.frontmatter.date).toDateString()} | Avg {post.frontmatter.minutesRead}
                                            </p>
                                            <a href={post.url} class="text-lg font-light p-2 underline">
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                ))
                            }
                        </div>
                    </div>
                )
            }
        </div>
        <footer class="text-center p-5 border-black border-t-2">
            <h1 class="font-bold text-2xl"> 
                &copy NoobScience {new Date().getFullYear()}
            </h1>
            <p class="text-lg p-4"> 
                All Rights Reserved
            </p>
        </footer>
    </main>
</Base>
<style is:inline>
    body {
        background-color: #f8f8f8;
    }
    ::selection {
        background-color: #fffc65;
        color: #000;
    }
    main {
        font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
    }
    h1 {
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    }
    h2{
        font-size: 2rem;
        font-weight: 700;
        padding: 1.5rem 0;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 0;
    }
    p {
        font-size: 1.2rem;
        line-height: 2.5rem;
    }
    a {
        text-decoration: underline;
    }
    ol{
        font-size: 1.2rem;
        line-height: 2.5rem;
        list-style-type: decimal;
        padding-left: 1.2rem;
    }
    blockquote{
        line-height: 2.5rem;
        padding: 1rem 0;
        margin: 1rem 0;
        border-left: 2px solid #000;
        padding-left: 1rem;
    }
    blockquote>p{
        font-size: 1.4rem;
        font-style: italic;
    }
</style>